@import "susy";



/* Variables */
$bg-white: #FFFFFF;
$bg-lightgrey: #efefef;



/* @Extends */
.red{
    color:red;
}


$susy: (
    columns: 12,
    container: 1200px,
    gutters: 1/4,
    global-box-sizing: border-box,

);



@include border-box-sizing;


.wrap{
    @include container;
    background-color: $bg-white;

}

.test{
    @include span(49%);
}



header, article, aside {
  margin-bottom: gutter();
}

header {
    padding: 2em;
    background-color: $bg-lightgrey;
    @extend .red;
}

article {
    @include span(10);
    padding: 2em;
    background-color: $bg-lightgrey;
}

aside {
    @include span(2 last);
    padding: 2em;
    background-color: $bg-lightgrey;
}

footer {
    clear: both;
    padding: 2em;
    background-color: $bg-lightgrey;
}
