@import "susy";



/* Variables */
$bg-white: #FFFFFF;
$bg-lightgrey: #efefef;


$susy: (
    columns: 12,
    container: 1200px,
    gutters: 1/4,
    global-box-sizing: border-box,
    debug: (image: hide)
);

@include border-box-sizing;

* {
  font-family: "Helvetica", sans-serif;
}

main {
    @include container;
    background-color: $bg-white;
}

header, article, aside {
  margin-bottom: gutter();
}

header {
    padding: 2em;
    background-color: $bg-lightgrey;
}

article {
    @include span(8);
    padding: 2em;
    background-color: $bg-lightgrey;
}

aside {
    @include span(4 last);
    padding: 2em;
    background-color: $bg-lightgrey;
}

footer {
    clear: both;
    padding: 2em;
    background-color: $bg-lightgrey;
}
